/* Reset CSS and base elements */
body,
p,
h1,
h2,
h3,
h4,
ul,
li,
button,
input {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
}

body {
  min-width: 320px;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
  color: #000;
}

a:visited {
  color: #000;
}

picture img {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 7px;
}

h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 6px;
  text-align: center;
  margin-bottom: 54px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 50px;
}

.button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.25;
  border: 2px solid #000;
  padding: 22px 20px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: #000;
  color: #fff;
}

.input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 22px 20px;
  line-height: 1.25;
  border: 2px solid #000;
  text-align: center;
}

.input:focus,
.button:focus {
  outline: none;
}

.button.small {
  padding: 11px;
}

.input.small {
  padding: 11px;
}

.padded {
  padding: 87px 98px 0px;
}

.hidden {
  display: none;
}

/* Header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px 78px;
}

.header_item {
  flex: 1;
}

.header .mobile-menu {
  display: none;
}

.location {
  transition: color 0.3s ease;
}

.location:hover {
  color: #c4c4c4;
}

.title {
  text-align: center;
  font-weight: 500;
}

.title .title_description {
  font-size: 12px;
}

.lang {
  text-align: right;
}

.lang_item {
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

.lang_item:first-child {
  margin-right: 5px;
}

.lang_item:hover,
.lang_item.active {
  border-bottom: 1px solid #000;
}

/* Navigation */
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 60px;
}

.navigation_item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  position: relative;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

.navigation_item:hover,
.navigation_item.active {
  border-bottom: 1px solid #000;
}

.navigation_item:not(:last-child) {
  margin-right: 71px;
}

.navigation_item:not(:last-child):after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background: #000;
  right: -35px;
}

/* Main */
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_left,
.main_right {
  width: 50%;
}

.main_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.about {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 120px;
}

.about .about_link {
  font-weight: 500;
  transition: color 0.3s ease;
}

.about .about_link:hover {
  color: #c4c4c4;
}

.about .about_link:hover svg {
  fill: #c4c4c4;
}

.about .about_link svg {
  position: relative;
  top: 1px;
  margin-left: 10px;
  transition: fill 0.3s ease;
}

/* Interior */
.interior .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.interior .images .interior_image {
  width: calc(50% - 10px);
}

.interior .images .interior_image:nth-child(2n + 1) {
  margin-right: 20px;
}

.interior .images .interior_image:nth-child(-n + 2) {
  margin-bottom: 20px;
}

/* Menu */
.menu .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menu .menu_item {
  width: calc(50% - 10px);
  position: relative;
  font-size: 48px;
  font-weight: 300;
}

.menu .menu_item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.menu .menu_item:hover:after {
  background-color: rgba(0, 0, 0, 0.3);
}

.menu .menu_item:first-child {
  margin-right: 20px;
}

.menu .menu_item span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #fff;
}

/* Delivery */
.delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

/* Booking */
.booking_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.booking_form .button {
  width: 272px;
  min-width: 220px;
}

.booking_form .input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 32px;
  width: 100%;
  min-width: 220px;
}

@media screen and (min-width: 721px) and (max-width: 1176px) {
  .booking_form {
    flex-direction: column;
  }

  .booking_form .input {
    margin-bottom: 32px;
    margin-right: 0px;
  }

  .booking_form .button {
    width: 100%;
  }
}

/* Social */

.contacts {
  padding-top: 87px;
}

.social_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.social_links a {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 300;
  margin-bottom: 33px;
  transition: color 0.3s ease;
}

.social_links a:hover {
  color: #c4c4c4;
}

.social_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.social_image {
  width: calc((100% - 40px) / 3);
}

.social_image:not(:last-child) {
  margin-right: 20px;
}

/* Subscribe */

.subscribe {
  margin-bottom: 85px;
}

.subscribe .subscribe_form {
  margin: auto;
  width: 762px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe_form p {
  margin: 0;
  font-size: 22px;
  line-height: 1.5;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media screen and (min-width: 0px) and (max-width: 962px) {
  .subscribe .subscribe_form {
    flex-direction: column;
    width: auto;
  }

  .subscribe_form p {
    margin-bottom: 20px;
  }

  .subscribe_form .input {
    margin-bottom: 13px;
  }
}

.subscribe_form form {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Footer */
.footer {
  background: #000;
  color: #fff;
  padding: 75px 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer_header {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
}

.footer p {
  font-size: 18px;
  margin-bottom: 0;
}

.footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: flex-start;
}

.footer_nav a {
  transition: border-color 0.3s ease-in-out;
  border-bottom: 1px solid transparent;
}

.footer_nav a:hover {
  border-bottom: 1px solid #fff;
}

@media screen and (min-width: 0px) and (max-width: 980px) {
  .footer_nav {
    display: none;
  }
}

.footer_nav a:not(:last-child) {
  margin-bottom: 20px;
}

.work_time .footer_header,
.work_time p {
  margin-bottom: 20px;
}

.work_time p.weekend {
  margin: 0;
}

.footer a {
  color: #fff;
}

.footer a:visited {
  color: #fff;
}

.address .footer_header:not(:first-child) {
  margin-top: 20px;
}

/* Mobile devices */
@media screen and (min-width: 0px) and (max-width: 720px) {
  .mobile-hide {
    display: none;
  }

  body {
    font-size: 10px;
  }

  h1,
  h2 {
    font-size: 18px;
  }
  h2 {
    margin-bottom: 28px;
  }

  p {
    font-size: 10px;
    line-height: 1.5;
    margin-bottom: 22px;
  }

  .button,
  .input {
    height: 42px;
    padding: 0 10px;
    font-size: 12px;
    border-width: 1px;
  }

  .padded {
    padding: 48px 66px 0px;
  }

  .header {
    padding: 33px 20px 62px;
  }

  .lang {
    order: 1;
    text-align: left;
  }

  .title {
    position: relative;
    order: 2;
    top: 31px;
  }

  .header_item.mobile-menu {
    display: block;
    order: 3;
    text-align: right;
  }

  .title .title_description {
    font-size: 10px;
  }

  .about {
    margin-top: 23px;
    padding: 0 60px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .about .about_link {
    border: 1px solid #000;
    height: 42px;
    line-height: 3.1;
    padding: 0 10px;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 300;
    background-color: #fff;
    color: #000;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease;
    -o-transition: background-color 0.3s ease, color 0.3s ease;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .about .about_link:hover {
    background-color: #000;
    color: #fff;
  }

  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .main_left,
  .main_right {
    width: 100%;
  }

  .interior .images .interior_image {
    width: 100%;
    height: auto;
    margin-right: 0 !important;
  }

  .menu .menu_item {
    width: 100%;
    height: auto;
    margin-right: 0 !important;
    margin-bottom: 20px;
    font-size: 24px;
  }

  .contacts {
    padding: 48px 66px 0px;
  }

  .social_links a {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .social_image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-right: 0 !important;
  }

  .subscribe {
    margin-bottom: 28px;
  }

  .subscribe_form p {
    font-size: 14px;
    line-height: 1.5;
  }

  .footer {
    padding: 26px 36px;
  }

  .footer .footer_header,
  .footer p,
  .footer a {
    font-size: 8px;
    line-height: 1.25;
  }

  .work_time .footer_header,
  .work_time p,
  .address .footer_header:not(:first-child) {
    margin-bottom: 10px;
  }
}
